/* Empty. Add your own CSS if you like */

.view-container {
  background-color: #737373;
}

.scroll-content{
  background-color: transparent;
}

.bar.bar-stable {
  background-color: transparent;
  background: none;
}

.pane {
  background-color: transparent;
  margin-top: 10px;
}

.fa-user-circle {
  color: white;
  position: absolute;
  left: 15px;
  top: 20px;
  font-size: 2em;
}

.fa-angle-left {
  position: relative;
  color: white;
  top: 15px;
  left: 15px;
  font-size: 3em;
}

.fa-bell {
  background: #737373;
  color: white;
  font-size: 1.6em;
}

.notification {
  right: 15px;
  top: 25px;
  background-color: #737373;
  position: absolute;
}

.circle {
  position: absolute;
  top: -10px;
  right: -5px;
  background: #FFB347;
  border: 3px solid #737373;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-shadow: 1px 1px 5px rgba(115, 115, 115, 0.5);
  outline: none;
}

.card-notification{
  margin-left: 35px;
  position: relative;
  background-color: white;
  width: 80%;
  height: 100%;
  margin-top: 40px;
  border-radius: 15px;
  width: 80%;
  height: 100%;
}

.circle-card-notification {
  position: absolute;
  top: -10px;
  right: -5px;
  background: #FFB347;
  border: 3px solid #737373;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.card-notification p {
  position: relative;
  left: 15px;
  top: 10px;
  color: #acacac;
}

.card-notification h2 {
  position: relative;
  left: 15px;
  top: 10px;
  font-size: 1.5em;
  white-space: normal;
  color: #666666;
}

.card-notification h3 {
  position: relative;
  left: 15px;
  bottom: 5px;
  font-size: 1.2em;
  white-space: normal;
  color: #666666;
}

.card-notification-full{
  position: relative;
  width: 80%;
  height: 100%;
}

.card-notification-full img {
  width: 85%;
  margin: 30px 10px 10px 20px;
  border-radius: 15px;
  display: block;
}

.card-notification-full button {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #FFB347;
  border-radius: 40px;
  width: 160px;
  height: 50px;
  margin-left: 20%;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  align-items: center;
}
