<ion-view class="main" has-header="true" padding="true">
    <ion-content padding="true">
        <div data-tap-disabled="true">
            <img ng-click="getHome()" src="../../img/ic_arrow_left.png" class="img-arrow-left"></img>
        </div>
        <div ng-repeat="(key,notification) in data.notifications" ng-model="notifications">
            <div ng-click="getNotificationDetail(key, notification)"  class="card-notification" ng-class = "{'card-notification-read' : isRead(key) == true }">
                <div ng-class= "{'circle-card-notification' : isRead(key) == false}"></div>
                <p>{{getDate(key)}}</p>
                <h2>{{notification.title}}</h2>
                <h3>{{notification.description}}</h3>
            </div>
        </div>
    </ion-content>
</ion-view>
