<ion-view ng-controller="NotificationsController" view-title="Notifications">
  <ion-content>
      <div ng-repeat="notification in notifications">
        <div ng-click="getNotificationDetail(notification)" style="cursor: pointer;"  class="card-notification">
          <div class="circle-card-notification"></div>
          <p>{{notification.date}}</p>
          <h2>{{notification.title}}</h2>
          <h3>{{notification.description}}</h3>
        </div>
      </div>
  </ion-content>
</ion-view>
