<ion-view class="main" has-header="true" padding="true">
    <ion-content padding="true">
        <div data-tap-disabled="true">
            <img ng-click="getNotifications()" src="../../img/ic_arrow_left.png" class="img-arrow-left"></img>
        </div>
        <div class="card-notification card-notification-full" ng-model="notification">
            <p>{{date}}</p>
            <h2>{{notification.title}}</h2>
            <h3>{{notification.description}}</h3>
            <h4>{{notification.information}}</h4>
            <img class="item-img" src="../../img/example.png"/>
            <button>{{notification.labelButton}}</button>
        </div>
    </ion-content>
</ion-view>
