<ion-view class="main" has-header="true" padding="true">
    <ion-content padding="true">
        <div data-tap-disabled="true">
            <div ng-if="isBrowser">
                <div ng-if="isPhoto">
                    <img  id="imgPhotoBrowser" ng-click="getPhotoBrowser()" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="profile-img">
                </div>
                <div ng-if="!isPhoto">
                    <i ng-click="getPhotoBrowser()" style="cursor: pointer;" class="fas fa-user-circle"></i>
                </div>
            </div>
            <div ng-if="!isBrowser">
                <div ng-if="isPhoto">
                    <img id="imgPhotoDevice" ng-click="getPhoto()" ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="profile-img">
                </div>
                <div ng-if="!isPhoto">
                    <i ng-click="getPhoto()" style="cursor: pointer;" class="fas fa-user-circle"></i>
                </div>
            </div>
        </div>
        <div data-tap-disabled="true">
            <div ng-click="getNotifications()" style="cursor: pointer;" class="notification">
                <div class="circle"></div>
                <i class="fas fa-bell"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
